doctype html
html
  head
    title Sink Test
    meta( name="viewport",content="width=device-width, initial-scale=1.0")
    meta( charset="utf-8")
    link( href="#{cssLibDir}/bootstrap.css" rel="stylesheet" media="screen")
    link( href="#{cssLibDir}/font-awesome.css" rel="stylesheet")
    link( href="#{cssDir}/main.gen.css" rel="stylesheet" )
  body
   div#outer
    div#toolbar
       if true 
        div.btn-group
          button.btn.btn-default.dropdown-toggle( type="button" data-toggle="dropdown" ) Paragraph
            span.caret
          ul#para-menu.dropdown-menu(role="menu")
            li: a(href="#") Title
            li: a(href="#") Heading
            li: a(href="#") SubHeading
            li: a(href="#") Body
            li: a(href="#") Bullet
            li: a(href="#") ListFirst
            li: a(href="#") ListNext
            li: a(href="#") Note
            li: a(href="#") SubNote
        div.btn-group
          button.btn.btn-default.dropdown-toggle( type="button" data-toggle="dropdown" ) Text
            span.caret
          ul#text-menu.dropdown-menu(role="menu")
            li: a(href="#") Normal
            li: a(href="#") Bold
            li: a(href="#") Italic
            li: a(href="#") MonoSpace
    div#inner
     div#t2
      div#ridStart.para-Body
          span#ridStart.text-Normal
          span#ridEnd.text-Normal
      div#cur | 
    if debug 
      script( src="#{jsLibDir}/jquery.js" )
      script( src="#{jsLibDir}/bootstrap.js" )
      script( src="#{jsLibDir}/underscore.js" )
      script( src="#{jsDir}/main.js" )
    else
      script( src="#{jsLibDir}/jquery.min.js" )
      script( src="#{jsLibDir}/bootstrap.min.js" )
      script( src="#{jsLibDir}/underscore.min.js" )
      script( src="#{jsDir}/main.min.js" )


