doctype html
html
  head
    title Sink Test
    meta( name="viewport",content="width=device-width, initial-scale=1.0")
    meta( charset="utf-8")
    link( href="#{cssLibDir}/bootstrap.css" rel="stylesheet" media="screen")
    link( href="#{cssLibDir}/font-awesome.css" rel="stylesheet")
    link( href="#{cssDir}/main.gen.css" rel="stylesheet" )
  body
    div#t2
      div#rid0.para-Body
          span#rid0.text-Normal
          span#rid1.text-Normal
      div#cur | 
    if debug 
      script( src="#{jsLibDir}/jquery.js" )
      script( src="#{jsLibDir}/bootstrap.js" )
      script( src="#{jsLibDir}/underscore.js" )
      script( src="#{jsDir}/main.js" )
    else
      script( src="#{jsLibDir}/jquery.min.js" )
      script( src="#{jsLibDir}/bootstrap.min.js" )
      script( src="#{jsLibDir}/underscore.min.js" )
      script( src="#{jsDir}/main.min.js" )


